<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>JOBB - Job Board HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-submenu.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/magnific-popup.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/daterangepicker.css')}}">
    <link rel="stylesheet" href="{{ asset ('css/leaflet.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/map.css')}}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/linearicons/style.css')}}">
    <link rel="stylesheet" type="text/css"  href="{{ asset('css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" type="text/css"  href="{{ asset('css/dropzone.css')}}">
    <link rel="stylesheet" type="text/css"  href="{{ asset('css/slick.css')}}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('css/skins/midnight-blue.css')}}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico')}}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis%7CMontserrat:200,300,400,500,600,700,800,900%7CNunito+Sans:200,300,400,600,700,800,900">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie10-viewport-bug-workaround.css')}}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="{{ asset('js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
    <script  src="{{ asset('js/ie-emulation-modes-warning.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="{{ asset('js/html5shiv.min.js')}}"></script>
    <script  src="{{ asset('js/respond.min.js')}}"></script>
    <![endif]-->
</head>
<body>
<div class="page_loader"></div>

<!-- Main header start -->
<header class="main-header header-transparent sticky-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href="index.html">
                <img src="{{ asset('img/logos/black-logo.png')}}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav header-ml">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Index
                        </a>
                        <ul class="dropdown-menu dm-2" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ asset('index.html')}}">Index 01</a></li>
                            <li><a class="dropdown-item" href="{{ asset('index-2.html')}}">Index 02</a></li>
                            <li><a class="dropdown-item" href="{{ asset('index-3.html')}}">Index 03</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Candidates
                        </a>
                        <ul class="dropdown-menu dm-2" aria-labelledby="navbarDropdownMenuLink9">
                            <li><a class="dropdown-item" href="{{ asset('candidate-list.html')}}">Candidate Listing</a></li>
                            <li><a class="dropdown-item" href="{{ asset('candidate-details.html')}}">Candidate Details</a></li>
                            <li><a class="dropdown-item" href="{{ asset('add-resume.html')}}">Add Resume</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="{{ asset('employer-dashboard.html')}}">Candidate Dashboard</a>
                                <ul class="dropdown-menu dm-2">
                                    <li><a class="dropdown-item" href="{{ asset('dashboard.html')}}">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('edit-profile.html')}}">Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('add-resume.html')}}">Add Resume</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('bookmark.html')}}">bookmark</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('applied.html')}}">Applied</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('messages.html')}}">Messages</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('alerts.html')}}">Job Alert</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('transaction.html')}}">Transaction</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Employers
                        </a>
                        <ul class="dropdown-menu dm-2" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ asset('employer-list.html')}}">Employer Listing</a></li>
                            <li><a class="dropdown-item" href="{{ asset('employer-details.html')}}">Employer Details</a></li>
                            <li><a class="dropdown-item" href="{{ asset('employer-dashboard-post-job.html')}}">Post a Job</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="{{ asset('employer-dashboard.html')}}">Employer Dashboard</a>
                                <ul class="dropdown-menu dm-2">
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard.html')}}">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard-edit-profile.html')}}">Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard-post-job.html')}}">Post a Job</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard-manage-job.html')}}">Manage Job</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard-manage-candidate.html')}}">Manage Candidate</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard-messages.html')}}">Messages</a></li>
                                    <li><a class="dropdown-item" href="{{ asset('employer-dashboard-transaction.html')}}">Transaction</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jobs
                        </a>
                        <ul class="dropdown-menu dm-2" aria-labelledby="navbarDropdownMenuLink10">
                            <li><a class="dropdown-item" href="{{ asset('job-list.html')}}">Job Listing</a></li>
                            <li><a class="dropdown-item" href="{{ asset('job-details.html')}}">Job Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown megamenu-li active">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <div class="megamenu-area">
                                <div class="row sobuz">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="megamenu-section">
                                            <h6 class="megamenu-title">Pages</h6>
                                            <a class="dropdown-item" href="{{ asset('about.html')}}">About Us</a>
                                            <a class="dropdown-item" href="{{ asset('pricing-plan.html')}}">Pricing Plan</a>
                                            <a class="dropdown-item" href="{{ asset('terms-and-condition.html')}}">Terms And Condition</a>
                                            <a class="dropdown-item" href="{{ asset('how-it-work.html')}}">How It Work</a>
                                            <a class="dropdown-item" href="{{ asset('invoices.html')}}">Invoice</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="megamenu-section">
                                            <h6 class="megamenu-title">Pages</h6>
                                            <a class="dropdown-item" href="{{ asset('contact.html')}}">Contact Us</a>
                                            <a class="dropdown-item" href="{{ asset('gallery.html')}}">Gallery</a>
                                            <a class="dropdown-item" href="{{ asset('typography.html')}}">Typography</a>
                                            <a class="dropdown-item" href="{{ asset('checkout.html')}}">Checkout</a>
                                            <a class="dropdown-item" href="{{ asset('faq.html')}}">Faq</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="megamenu-section">
                                            <h6 class="megamenu-title">Pages</h6>
                                            <a class="dropdown-item" href="{{ asset('icon.html')}}">Icons</a>
                                            <a class="dropdown-item" href="{{ asset('coming-soon.html')}}">Coming Soon</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <ul class="dropdown-menu dm-2" aria-labelledby="navbarDropdownMenuLink7">
                            <li><a class="dropdown-item" href="{{ asset('blog-columns-1.html')}}">Blog 1 Columns</a></li>
                            <li><a class="dropdown-item" href="{{ asset('blog-columns-2.html')}}">Blog 2 Columns</a></li>
                            <li><a class="dropdown-item" href="{{ asset('blog-columns-3.html')}}">Blog 3 Columns</a></li>
                            <li><a class="dropdown-item" href="{{ asset('blog-details.html')}}">Blog Detele</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{path('before_signup')}}">
                            <i class="{{ asset('flaticon-logout')}}"></i>S'inscrire
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('login')}}" class="nav-link link-color"><i class="fa fa-sign-in"></i> Se connecter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->

<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ asset('index.html') }}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- About us start -->
<div class="about-us  content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="about-slider-box simple-slider">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('img/gallery/img-2.jpg')}}" alt="slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('img/gallery/img-3.jpg')}}" alt="slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{ asset('img/gallery/img-1.jpg')}}" alt="slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="slider-mover-left slider-btn-l" aria-hidden="true">
                                <i class="fa fa-angle-left"></i>
                            </span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="slider-mover-right slider-btn-r " aria-hidden="true">
                                 <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Welcome To Jobb</h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly</p>
                    <p>transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted. transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted.</p>
                    <a href="#" class="btn btn-md button-theme">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About us end -->

<!-- Services start -->
<div class="services content-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our Service</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-work"></i>
                    </div>
                    <h5>Advertise A Job</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-search"></i>
                    </div>
                    <h5>CV Search</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 d-none d-xl-block d-lg-block">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-user"></i>
                    </div>
                    <h5>Recruiter Profiles</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

<!-- Counters strat -->
<div class="counters bg-color-full-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-user"></i>
                    <h1 class="counter">1967</h1>
                    <p>Members</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-work"></i>
                    <h1 class="counter">667</h1>
                    <p>Jobs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-document"></i>
                    <h1 class="counter">475</h1>
                    <p>Resumes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-factory"></i>
                    <h1 class="counter">475</h1>
                    <p>Companies</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->

<!-- Testimonial start -->
<div class="testimonial">
    <div class="container">
        <div class="main-title">
            <h1>What Our Users Say</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="{{ asset('img/avatar/avatar-2.jpg') }}" alt="testimonial-avatar" class="img-fluid">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    Eliane Perei
                                </h5>
                                <h6>Web Developer</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>
                        <div class="media">
                            <a href="">
                                <img src="{{ asset('img/avatar/avatar-3.jpg') }}" alt="testimonial-avatar" class="img-fluid">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    Maria Blank
                                </h5>
                                <h6>Office Manager</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="{{ asset('img/avatar/avatar-4.jpg') }}" alt="testimonial-avatar" class="img-fluid">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    Karen Paran
                                </h5>
                                <h6>Support Manager</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="{{ asset('img/avatar/avatar-1.jpg') }}" alt="testimonial-avatar" class="img-fluid">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    John Pitarshon
                                </h5>
                                <h6>Creative Director</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial end -->

<!-- Footer start -->
<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="footer-item clearfix">
                    <img src="{{ asset('img/logos/logo.png') }}" alt="logo" class="f-logo">
                    <ul class="contact-info">
                        <li>
                            <i class="flaticon-pin"></i>20/F Green Road, Dhanmondi, Dhaka
                        </li>
                        <li>
                            <i class="flaticon-mail"></i><a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                        </li>
                        <li>
                            <i class="flaticon-internet"></i><a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                        </li>
                        <li>
                            <i class="flaticon-phone"></i><a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="footer-item">
                    <h4>Helpful Links</h4>
                    <ul class="links">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="footer-item">
                    <h4>Job Seekers</h4>
                    <ul class="links">
                        <li>
                            <a href="#">Create Account</a>
                        </li>
                        <li>
                            <a href="{{ asset('about.html') }}">Career Counseling</a>
                        </li>
                        <li>
                            <a href="{{ asset('pricing-tables.html') }}">My Oficiona</a>
                        </li>
                        <li>
                            <a href="{{ asset('contact.html') }}">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="footer-item">
                    <h4>Employers</h4>
                    <ul class="links">
                        <li>
                            <a href="#">Create Account</a>
                        </li>
                        <li>
                            <a href="#">Products $ Service</a>
                        </li>
                        <li>
                            <a href="#">Post a Task</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-12">
                <div class="footer-item clearfix">
                    <h4>Newsletter</h4>
                    <div class="Subscribe-box">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                        <form class="form-inline" action="#" method="GET">
                            <input type="text" class="form-control mb-sm-0" id="inlineFormInputName3" placeholder="Email Address">
                            <button type="submit" class="btn"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Sub footer start -->
<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <p class="copy">© 2019 <a href="#">Theme Vessel.</a> Trademarks and brands are the property of their respective owners.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="social-list clearfix">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub footer end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{{ asset('') }}index.html#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>

<script src="{{ asset('js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script  src="{{ asset('js/bootstrap-submenu.js') }}"></script>
<script  src="{{ asset('js/rangeslider.js') }}"></script>
<script  src="{{ asset('js/jquery.mb.YTPlayer.js') }}"></script>
<script  src="{{ asset('js/bootstrap-select.min.js') }}"></script>
<script  src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script  src="{{ asset('js/jquery.scrollUp.js') }}"></script>
<script  src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script  src="{{ asset('js/leaflet.js') }}"></script>
<script  src="{{ asset('js/leaflet-providers.js') }}"></script>
<script  src="{{ asset('js/leaflet.markercluster.js') }}"></script>
<script  src="{{ asset('js/moment.min.js') }}"></script>
<script  src="{{ asset('js/daterangepicker.min.js') }}"></script>
<script  src="{{ asset('js/dropzone.js') }}"></script>
<script  src="{{ asset('js/slick.min.js') }}"></script>
<script  src="{{ asset('js/jquery.filterizr.js') }}"></script>
<script  src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script  src="{{ asset('js/jquery.countdown.js') }}"></script>
<script  src="{{ asset('js/maps.js') }}"></script>
<script  src="{{ asset('js/app.js') }}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script  src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
<!-- Custom javascript -->
<script  src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
</body>
